:root {
  --color-primary: 255 85 11;
  --color-secondary: 15 129 199;
  --color-warning: 255 48 79;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "CamingoCode";
    font-weight: 400;
    src: url("/fonts/CamingoCode/CamingoCode-Regular.woff") format("woff"),
      url("/fonts/CamingoCode/CamingoCode-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "CamingoCode";
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/CamingoCode/CamingoCode-Italic.woff") format("woff"),
      url("/fonts/CamingoCode/CamingoCode-Italic.woff2") format("woff2");
  }
  @font-face {
    font-family: "CamingoCode";
    font-weight: 600;
    src: url("/fonts/CamingoCode/CamingoCode-Bold.woff") format("woff"),
      url("/fonts/CamingoCode/CamingoCode-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "CamingoCode";
    font-weight: 600;
    font-style: italic;
    src: url("/fonts/CamingoCode/CamingoCode-BoldItalic.woff") format("woff"),
      url("/fonts/CamingoCode/CamingoCode-BoldItalic.woff2") format("woff2");
  }
}

@layer components {
  .typed-cursor {
    @apply text-primary;
  }
}
